/* styles.css */
.container {
    margin: 20px;
}

.search-container {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    padding-bottom: 10px;
}

#searchBar {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

.results-container {
    max-height: 150px; /* Adjust this value to control the height */
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.results-container p {
    margin: 0;
    padding: 5px;
    cursor: pointer;
}

.results-container p:hover {
    background-color: #f0f0f0;
}

.hidden {
    display: none;
}

#selectedItem {
    margin-bottom: 20px;
}

.highlight {
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f0f0f0;
}
