set bell-style none
umask 022 
export VISUAL=vi
export EDITOR=vi

alias vera='(veracrypt&)'
on_mint=0
if [[ -f /etc/lsb-release ]]; then
  grep -q 'DISTRIB_ID=LinuxMint' /etc/lsb-release
  if [[ $? == 0 ]]; then
    on_mint=1
  fi
fi
if [[ $on_mint == 0 ]]; then
  export LC_ALL=C
  export LANG=C
fi
unset on_mint

# Red prompt
# export PS1="\[\e[31m\]\u@\h \w >\n%\[\e[m\] "
# Green prompt
# export PS1="\[\e[32m\]\u@\h \w >\n%\[\e[m\] "
# Bright Green
# export PS1="\[\e[01;32m\]\u@\h \w >\n%\[\e[m\] "
# Blue prompt
# export PS1="\[\e[34m\]\u@\h \w >\n%\[\e[m\] "
# Bright Blue prompt
# export PS1="\[\e[01;34m\]\u@\h \w >\n%\[\e[m\] "
# Magenta prompt
# export PS1="\[\e[01;35m\]\u@\h \w >\n%\[\e[m\] "

export PS1="\[\e[01;32m\]\u@\h \w >\n%\[\e[m\] "
alias ps1="echo export PS1=\''$PS1'\'"

export HISTTIMEFORMAT="%F %T "
export P4CONFIG=.p4config

if [[ $(uname) == Linux ]]; then
  alias ls='ls --color=auto'
else
  alias ls='ls -G'
fi
alias ll="ls -altr"
alias vi=vim

alias rw='vimdiff ~/zr.txt ~/zw.txt'
alias lr='vimdiff ~/zl.txt ~/zr.txt'
alias lw='vimdiff ~/zl.txt ~/zw.txt'

alias glog='git log --all --graph --decorate --oneline'
alias gdesc='git log -M --summary'
alias gs='git status -s'
alias vig='cp ~/gcode/sundry/viminfo-git.txt ~/.viminfo'
alias vip='cp ~/gcode/sundry/viminfo-p4.txt ~/.viminfo'
gits()
{
git config credential.helper store
git config --global push.default matching
git config --global merge.conflictstyle diff3
git config --global user.email omandal@localhost
git config --global user.name "Om Mandal"
}

function t0
{
  local ls=$(tmux ls | grep -v ssh 2>/dev/null)
  if [[ $ls == '' ]]; then
    tmux
  else
    # 0: 2 windows (created Sat Oct 21 18:35:33 2017) [139x51] (attached)
    local n=$(echo $ls | sed 's/:.*//')
    tmux a -d -t $n
  fi
}

# vmware stuff
if [[ -f $HOME/ww/.vmware_aliases ]]; then
  . $HOME/ww/.vmware_aliases
fi
