set bell-style none
umask 022 
export VISUAL=vi
export EDITOR=vi

on_mint=0
if [[ -f /etc/lsb-release ]]; then
  grep -q 'DISTRIB_ID=LinuxMint' /etc/lsb-release
  if [[ $? == 0 ]]; then
    on_mint=1
  fi
fi
if [[ $on_mint == 0 ]]; then
  export LC_ALL=C
fi
unset on_mint

# Red prompt
# export PS1="\[\e[31m\]\u@\h \w >\n%\[\e[m\] "
# Green prompt
# export PS1="\[\e[32m\]\u@\h \w >\n%\[\e[m\] "
# Bright Green
# export PS1="\[\e[01;32m\]\u@\h \w >\n%\[\e[m\] "
# Blue prompt
# export PS1="\[\e[34m\]\u@\h \w >\n%\[\e[m\] "
# Bright Blue prompt
# export PS1="\[\e[01;34m\]\u@\h \w >\n%\[\e[m\] "
# Magenta prompt
# export PS1="\[\e[01;35m\]\u@\h \w >\n%\[\e[m\] "

export PS1="\[\e[01;32m\]\u@\h \w >\n%\[\e[m\] "
alias ps1="echo export PS1=\''$PS1'\'"

export HISTTIMEFORMAT="%F %T "
export P4CONFIG=.p4config

if [[ $(uname) == Linux ]]; then
  alias ls='ls --color=auto'
else
  alias ls='ls -G'
fi
alias ll="ls -altr"
alias vi=vim

alias rw='vimdiff ~/zr.txt ~/zw.txt'
alias lr='vimdiff ~/zl.txt ~/zr.txt'
alias lw='vimdiff ~/zl.txt ~/zw.txt'

alias glog='git log --all --graph --decorate --oneline'
alias gs='git status -s'
gits()
{
git config credential.helper store
git config --global merge.conflictstyle diff3
git config --global user.email omandal@localhost
git config --global user.name "Om Mandal"
}

# vmware stuff
alias pl='~/ww/bin/p4login'
alias pcat='p4 -q print'
alias ppcat='p4 -p perforce.eng.vmware.com:1666 -q print'
alias plog='p4 -p perforce.eng.vmware.com:1666 describe -s $1'
alias pani='p4 -q annotate -I'
alias sd='ssh dbc'

tt()
{
  tiddly_new=$HOME/Downloads/tiddly.html
  tiddly_forever='/b/om/p/CRUZER/gitted/sandbox/tiddly.html'
  if [[ -f $tiddly_new ]]; then
    if [[ ! -f $tiddly_forever ]]; then
      echo "Not found: $tiddly_forever"
      echo "Consider rm -f $tiddly_new"
    else
      ls -ld $tiddly_new $tiddly_forever
      cmd="mv $tiddly_new $tiddly_forever"
      echo $cmd
      $cmd
      (cd /b/om/p/CRUZER/gitted/sandbox && (git add .; git commit -m change))
    fi
  else
    echo "Not found: $tiddly_new"
  fi
  unset tiddly_new
  unset tiddly_forever
}

function t0
{
    local ls=$(tmux ls | grep -v ssh 2>/dev/null)
    if [[ $ls == '' ]]; then
        tmux
    else
        # 0: 2 windows (created Sat Oct 21 18:35:33 2017) [139x51] (attached)
        local n=$(echo $ls | sed 's/:.*//')
        tmux a -d -t $n
    fi
}

